* {
    font-family: 'Ubuntu', sans-serif;
}

.bg {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
}

.header {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-menu {
    padding: 0 79px;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.header-menu-wrap {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.header-menu-logo {
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.header-menu-logo:hover {
    transition: 0.2s;
    color: #3CB878;
}

.header-menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 24px;
    align-items: center;
}

.menu-links {
    display: flex;
    justify-content: space-between;
}

.menu-links-item:nth-child(2) {
    margin-left: 27px;
}

.menu-links-item:nth-child(3) {
    margin: 0 25px 0 24px;
}

.menu-links-item:hover>a path {
    fill: #3CB878;
    transition: 0.2s;
}

.header-menu-text {
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
}

.header-menu-text::before {
    padding-left: 27px;
    content: '';
    border-left: 2px solid #ffffff;
}

.menu-text-log:hover,
.menu-text-sign:hover {
    transition: 0.2s;
    color: #3CB878;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -265px;
    margin-left: -222px;

}

.container-form {
    position: relative;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    padding: 30px 60px 38px 60px;
}


.container-form-wrap {
    height: 516px;
    width: 324px;
    display: flex;
    flex-direction: column;
}

.conatainer-form-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-reg-sign {
    font-size: 20px;
    color: #434343;
}

.form-reg-sign::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 33px;
    background-color: #3CB878;
}

.form-reg-log {
    font-size: 14px;
    color: #3CB878;
}

.form-reg-log:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.container-form-btn {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    display: flex;
    height: 48px;
    width: 160px;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;

}

.facebook-button {
    background-color: #305DB8;
    cursor: pointer;
}

.facebook-button-logo,
.google-button-logo {
    padding-left: 10px;
}

.facebook-button-descr,
.google-button-descr {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 25px;
}

.facebook-button-descr::before,
.google-button-descr::before {
    padding: 6px 18px 6px 0;
    content: '';
    border-left: 1px solid #0A162F;
    opacity: 0.1;
}

.google-button {
    background-color: #DF4A32;
    cursor: pointer;
}

.facebook-button:hover {
    background-color: #022263;
    transition: 0.2s;
}

.google-button:hover {
    background-color: #AB1F09;
    transition: 0.2s;
}

.separator {
    position: relative;
    margin-top: 31px;
}

.separator-text {
    font-size: 14px;
    color: #848484;
    text-align: center;
}

.separator::after {
    padding-left: 5px;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 147px;
    border: 1px solid #F2F2F2;
}

.separator::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    width: 147px;
    border: 1px solid #F2F2F2;

}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    padding-top: 11px;
}

.main-form-input {
    font-size: 14px;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0 15px 20px;
}

.main-form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.main-form-input::placeholder {
    color: #BEBEBE;
}

.main-form-input:focus::placeholder {
    color: #434343;
}


.main-form-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #434343;
    left: -22px;
    padding-top: 2px;
}

.main-form-checkbox .check {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -28px;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.main-form-checkbox .check:checked~.checkmark:after {
    display: block;
}

.main-form-checkbox .checkmark:after {
    left: 4px;
    top: 0;
    width: 10px;
    height: 15px;
    border: 2px solid #01813F;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-link {
    font-size: 14px;
    color: #3CB878;
}

.checkbox-link:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.form-submit-btn {
    margin-top: 20px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 106px;
}

.form-submit-btn:hover {
    background-color: #01813F;
}